/* Aqui ira los estilos del FOOTER */

/* PAGO */

.pago {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.pagoDescripcion {
    font-size: 12px;
    text-align: center;
    color: var( --Gris-oscuro);

}
/* ICONO de la TARJETA */
.tarjeta {
    margin-bottom: 10px;
    width: em;
    color: var(--Celeste);
    display: block;
    margin: 8px;
    text-align: center;
    font-size: 2em;
}

/* ENVIO */
.envio {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.envioDescripcion {
    font-size: 12px;
    text-align: center;
    color: var( --Gris-oscuro);
}

/* ICONO del REGALO */
.regalo {
    margin-bottom: 10px;
    width: em;
    color: var(--Celeste);
    display: block;
    margin: 8px;
    text-align: center;
    font-size: 2em;

}

/* SEGURIDAD */
.seguridad {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.seguridadDescripcion {
    font-size: 12px;
    text-align: center;
    color: var( --Gris-oscuro);
}

/* ICONO de SEGURIDAD */
.icinoSeguridad {
    margin-bottom: 10px;
    width: em;
    color: var(--Celeste);
    display: block;
    margin: 8px;
    text-align: center;
    font-size: 2em;
}

/* Fin del FOOTER */
.fin-footer {
    font-size: 12px;
    text-align: center;
    margin: 40px;
    color: var( --Gris-oscuro);
    opacity: 0.5;

}

