/* Aqui ira los estilos del HEADER */

header{
    background-color:var(--Amarillo);

}
.menuburger{
    margin-left: 40vw;
    margin-right: 50vw;
    font-size: 20px;
    color:var(--Celeste) ;
}
/* Aqui sacamos los itemns de delante de las listas */
ul{
 list-style: none;   
}