/* Aqui ira los estilos del HEADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 

 .main-header{
    width: 100vw;
    background-color: var(--Amarillo);
}

.compraCuotas {

    text-align: center;
    /* font-weight: 400; */
    padding: 20px;
    margin: 10px; 
}

.banner {
    width:100vw;
    height: 20%;
    padding:0%;
    display:block;
}
.logoMercadoLiebre {
    width: 300px;
    margin-left: 2em;
    margin-top: 1em;
}

/* /* aqui le damos el formato al icono burger, que son las tres linias horizontales blancas */
.menuburger {
    text-align: center;
    font-size: 20px;
    color: var(--Gris-claro);
} 

/* Aqui le ponemos el estilo al cuadrado de puntas redondas azul */
.fa-bars {
    background-color: var(--Celeste);
    border-radius: 10%;
    padding: 9px;
    text-align: center;
    margin: auto;
} 


/* Aqui sacamos los itemns de delante de las listas */
/* .main-navbar{
    display: none;
}  */
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0; 
    font-size: 17px;
}
@media (min-width: 768px){
    .main-header{
        /* border: dotted 5px red; */
    }
}
