/* Aqui ira los estilos del HEADER */

header {
    background-color: var(--Amarillo);
    width: 90%;
    margin: auto;
    

}

header {
    display: block;
}

/* aqui le damos el formato al icono burger, que son las tres linias horizontales blancas */
.menuburger {
    text-align: center;
    font-size: 20px;
    color: var(--Gris-claro);
}

/* Aqui le ponemos el estilo al cuadrado de puntas redondas azul */
.fa-bars {
    background-color: var(--Celeste);
    border-radius: 10%;
    padding: 5px;
    text-align: center;
 
}

/* Aqui sacamos los itemns de delante de las listas */
ul {
    list-style: none;
}
.compraCuotas{
    text-align: right;
    

}

