/* Aqui ira los estilos del MAIN */

/* Ajustes para el MAIN */
.main{
    width: 90%;
    padding: 10%;
    background-color: var(--Gris-claro);
    box-sizing: border-box; /* asi nunca el elemento  */
    margin: auto;
}
.banner{
    width: 100px;
    margin-top: 5vh;
    margin-left: 8vh;
    margin-bottom: 4vh;
    text-align: center;
    display: block;
    justify-content: center;

}

/* TITULARES*/
.titular1{
    font-size: 24px;
}
.titular2{
    font-size: 24px;
}
#precios{
    font-size: 18px;
}
#descuentos{
    font-size: 16px;
}
#descripciones{
    font-size: 16px;
}
/* PRODUCTOS */
.cafetera{
    
        display: flex;
        justify-content: center;
       }



