/* Aqui ira los estilos del MAIN */

/* Ajustes para el MAIN */
.main {
    width: 90%;
    padding: 10%;
    background-color: var(--Gris-claro);
    box-sizing: border-box;
    margin: auto;
    
    
}

.banner {
    
        width: 400px;
        margin-top: 5vh;
        margin-left: 8vh;
        text-align: center;
        display: block;
        justify-content: center;
}

/* TITULARES*/
.titular1 {
    font-size: 24px;
}

.titular2 {
    font-size: 24px;
}

#precios {
    font-size: 18px;
}

#descuentos {
    font-size: 16px;
}

#descripciones {
    font-size: 16px;
}

/* PRODUCTOS */
.img-cafetera {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.img-macbook {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.img-samsung-galaxy {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.img-tv-samsung {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

/* IMAGENES DE LOS PRODUCTOS */