/* Aqui ira los estilos del MAIN */

/* Ajustes para el MAIN */
.main {
    width: 90vw;
    padding: 10%;
    background-color: var(--Gris-claro);
    box-sizing: border-box;
    margin: auto;
}

/* TITULARES*/
.titular1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--Gris-oscuro);
    text-align: left;
}

.titular2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--Gris-oscuro);
    text-align: left;
}

#precios {
    font-size: 18px;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
}

#descuentos {
    font-size: 12px;
    text-align: left;
    margin-top: 1%;
    color: #39b54a;
}

#descripciones {
    font-size: 16px;
    text-align: left;
    color: var(--Gris-oscuro)
}

/* IMAGEN DEL CAMIONCITO */

.camioncito {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Verde);
    border-radius: 50%;
    right: 20px;
    top: -15px;
    color: var(--Verde);
}

/* IMAGENES DE LOS PRODUCTOS */
.descripcion-producto {
    width: 45%;
    background-color: var(--blanco);
    margin-top: 10px;
    margin-bottom: 10px;
}

.foto-producto {
    width: 100%;
    border-bottom: 1px var(--gris_claro) solid;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}
.detalle-Producto {
    background-color: white;
/*     margin: auto; */
    margin-bottom: 10px;
    /* #ebebeb; */
    padding: 15px;
    width: 45%;
    text-align: left;
    /* height: auto; */
}

