/* Aqui iran los contenido de estilos que se aplicaran en el HTLM*/

/* iMPORTAMOS  */
@import url(normalize.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root{
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--Gris-oscuro: #666;
--Gris-claro: #ebebeb;
--Verde: #39b54a;
}
* {
    box-sizing: border-box; 
}
body{
    
    font-family: roboto;
    font-size: 12px;
  
}


