/* Aqui iran los contenido de estilos que se aplicaran en el HTLM*/

/* iMPORTAMOS  */
@import url(normalize.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root{
--Amarillo: #EAC926;
--Azul: #03264C;
--Celeste: #1259c3;
--Gris-oscuro: #666;
--Gris-claro: #ebebeb;
--Verde: #39b54a;
}
.logoMercadoLiebre{
    width: 100px;
    margin-top: 5vh;
    margin-right: 8vh;
    margin-bottom: 4vh;
     
}

body{
    font-family: roboto;
    font-size: 12px;
}
header{
    background-color:var(--Amarillo);

}
.banner{
    width: 400px;
    margin-top: 5vh;
    margin-left: 8vh;
    margin-bottom: 4vh;
    text-align: center;

}
/* estilos para el MAIN */
.titular1{
    font-size: 24px;
}
.titular2{
    font-size: 24px;
}
#precios{
    font-size: 18px;
}
#descuentos{
    font-size: 16px;
}
#descripciones{
    font-size: 16px;
}

.pago{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.pagoDescripcion{
    font-size: 12px;
    text-align: center;
}
.envio{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.envioDescripcion{
    font-size: 12px;
    text-align: center;
}
.seguridad{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.seguridadDescripcion{
    font-size: 12px;
    text-align: center;
}
.fin-footer{
    font-size: 12px;
    text-align: center;
}

.camioncito{
    font-size: 30px;
    color: var(--Verde);
}

/* Aqui ira los estilos del FOOTER */