<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- Aqui iran los link para GOOGLE Fonts -->


    <!-- Aqui ira el link para los iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <!-- Aqui iran los link para Mi CSS y aqui estan todos mis archivos del CSS-->
    <link rel="stylesheet" href="/css/styles.css">

</head>



<!-- Aqui ira el BODY -->

<body>

    <!-- Aqui ira el HEADER -->
    <header>

        <img  class="logoMercadoLiebre"  src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liabre">

        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <p>Buscar productos, marcas</p>
        
        
        <div>
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>
        
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li> <a href="https://www.google.com.ar ">Ofertas</a></li>
                <li> <a href="https://www.google.com.ar ">Tiendas oficiales</a></li>
                <li> <a href="https://www.google.com.ar ">Vender</a></li>
                <li> <a href="https://www.google.com.ar ">Ayuda</a></li>
            </ul>
        </nav>

        <nav>
            <ul>
                
                <li> <a href="https://www.google.com.ar ">Crea tu cuenta</a> </li> 
                <div>
                    <i class="fa-solid fa-id-card"></i>
                </div>
                


                <li> <a href="https://www.google.com.ar ">Ingresa</a></li> 
                <div>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
                

                <li> <a href="https://www.google.com.ar "> Mis compras </a> </li> 
                <div>
                    <i class="fa-solid fa-basket-shopping"></i>
                </div>
                


            </ul>
        </nav>
        <div>
            <i class="fa-solid fa-bars"></i>
        </div>
        

        <img class="banner" src="/images/img-home-banner.jpg" alt="home-banner">

    </header>




    <!-- Aqui ira el main -->
    <main>
        <section>
            <!-- Aqui va el icono del camioncito -->

            <i class="fa-solid fa-truck camioncito"></i>


            <p class="titular1">Basado en tu ultima visita</p>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            <p id="precios">$6.770</p>
            <p id="descuentos">40% OFF</p>
            <P id="descripciones">Cafetera Moulinex</P>

            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            <p id="precios">$230.000</p>
            <p id="descuentos">20% OFF</p>
            <P id="descripciones">MacBook Pro 2019</P>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
            <p id="precios">$75.500</p>
            <p id="descuentos">10% OFF</p>
            <P id="descripciones">Samsung Galaxy S10</P>

            <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <p id="precios">$23.200</p>
            <p id="descuentos">5% OFF</p>
            <P id="descripciones">SmartTV Samsung 43"</P>
        </section>

        <section>
            <p class="titular2">Seccion de Ofertas</p>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
            <p id="precios">$6.770</p>
            <p id="descuentos">40% OFF</p>
            <P id="descripciones">Cafetera Moulinex</P>

            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            <p id="precios">$230.000</p>
            <p id="descuentos">20% OFF</p>
            <P id="descripciones">MacBook Pro 2019</P>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
            <p id="precios">$75.500</p>
            <p id="descuentos">10% OFF</p>
            <P id="descripciones">Samsung Galaxy S10</P>

            <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <p id="precios">$23.200</p>
            <p id="descuentos">5% OFF</p>
            <P id="descripciones">SmartTV Samsung 43"</P>

        </section>

    </main>


    <!-- Aqui ira el FOOTER -->
    <footer>
        <section>
            <p class="pago">Paga con tarjeta o en efectivo</p>
            <p class="pagoDescripcion">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago.
                ¡Y siempre seguro!</p>
        </section>

        <section>
            <p class="envio">Envio gratis desde $2.500</p>
            <p class="envioDescripcion">Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos.
                Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <p class="seguridad">Seguridad, de principio a fin</p>
            <p class="seguridadDescripcion"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estas siempre proyegi@
            </p>
            <p class="fin-footer"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>

            <p>

            </p>
        </section>

    </footer>
</body>

</html>